tr.master-row td:last-child,
tr.details-row td:last-child {
    border-right: 1px solid rgba(224, 224, 224, 1);
}
tr.master-row td:nth-child(5),
tr.details-row td:nth-child(3) {
    text-align: right !important;
}

tr.details-row td:first-child {
    border-bottom: none;
    border-top: none;
}

tr.details-row td:nth-child(2) {
    border-left: 1px solid rgba(224, 224, 224, 1);
}

tr.details-row td:nth-child(3) {
    text-align: right;
}

td>svg {
    cursor: pointer;
}

table>tbody>tr.expanded {
    background-color: #f2f2f2;
}

