.badge{
    padding: 5px 10px;
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
}
.badge-default {
    background-color: #1976d2;
}
.badge-success {
    background-color: rgb(46, 125, 50);
}
.badge-error {
    background-color: rgb(211, 47, 47);
}
.badge-warning {
    background-color: #fb9700;
}